In [1]:
# The code was removed by Watson Studio for sharing.

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
df.shape

(2938, 22)

The data file contains 2937 rows and 22 columns

the output or dependent variable is Life expectancy

# Data preprocessing

Checking for null values

In [3]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

* Life expectancy, Adult mortality, Alcohol, Hepatitis B, BMI
* Polio, Total expenditure, Diptheria, GDP, Population
* thinness (1-19), thinness (5-9) years
* Income composition of resources, Schooling
* The above columns have null values

Replacing the null values with mean in Life expectancy, Adult mortality, alcohol, Hepatitis B, BMI columns

In [4]:
df['Life expectancy '].fillna(df['Life expectancy '].mean(), inplace = True)

In [5]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Replaced the null values in the Life expectancy column with mean

In [6]:
df['Adult Mortality'].fillna(df['Adult Mortality'].mean(), inplace = True)

In [7]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Replaced the null values in Adult mortality with mean

In [8]:
df.Alcohol.unique()

array([0.01, 0.03, 0.02, ..., 2.44, 3.56, 4.57])

In [9]:
df['Alcohol'].fillna(df.Alcohol.mean(), inplace = True)

In [10]:
df['Hepatitis B'].fillna(df['Hepatitis B'].mean(), inplace = True)

In [11]:
df[' BMI '].fillna(df[' BMI '].mean(),inplace = True)

In [12]:
df['Polio'].fillna(df['Polio'].mean(), inplace = True)

In [13]:
df['Total expenditure'].fillna(df['Total expenditure'].mean(), inplace = True)

In [14]:
df['Diphtheria '].fillna(df['Diphtheria '].mean(), inplace = True)

In [15]:
df['GDP'].fillna(df['GDP'].mean(), inplace = True)

In [16]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
 HIV/AIDS                            0
GDP                                  0
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [17]:
df['Population'].fillna(df['Population'].mean(), inplace = True)

In [18]:
df[' thinness  1-19 years'].fillna(df[' thinness  1-19 years'].mean(), inplace = True)

In [19]:
df[' thinness 5-9 years'].fillna(df[' thinness 5-9 years'].mean(), inplace = True)

In [20]:
df['Income composition of resources'].fillna(df['Income composition of resources'].mean(), inplace = True)

In [21]:
df['Schooling'].fillna(df['Schooling'].mean(), inplace = True)

In [22]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

Imputed the null values with their respective averages

# Splitting the dataset into train and test

In [23]:
X = df.drop('Life expectancy ', axis = 1)

In [24]:
y = df['Life expectancy ']

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 21 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Adult Mortality                    2938 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2938 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2938 non-null float64
Measles                            2938 non-null int64
 BMI                               2938 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2938 non-null float64
Total expenditure                  2938 non-null float64
Diphtheria                         2938 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2938 non-null float64
Population                         2938 non-null float64
 thinness  1-19 years              2938 non-null float64
 thinness 5-9 years                2938 non-null float64
Income composition of resources    2938 non-null float64
Schooling                          2938 non-null float64
dtypes: float64(15), int64(4), object(2)
memory usage: 482.1+ KB

In [26]:
Country_dummy=pd.get_dummies(X['Country'])
# Dummy variables for Country feature.

In [27]:
status_dummy=pd.get_dummies(X['Status'])
# Dummy variables for status feature.

In [28]:
X.drop(['Country','Status'],inplace=True,axis=1)

In [29]:
X=pd.concat([X,Country_dummy,status_dummy],axis=1)

In [30]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Columns: 214 entries, Year to Developing
dtypes: float64(15), int64(4), uint8(195)
memory usage: 995.7 KB

In [31]:
X.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe,Developed,Developing
0,2015,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,0,0,0,0,0,0,0,0,0,1
1,2014,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,0,0,0,0,0,0,0,0,0,1
2,2013,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,0,0,0,0,0,0,0,0,0,1
3,2012,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,0,0,0,0,0,0,0,0,0,1
4,2011,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,0,0,0,0,0,0,0,0,0,1

# Testing and training the dataset

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
Linear_model= LinearRegression()

In [36]:
Linear_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
predictions=Linear_model.predict(X_test)

# Naming it predictions1 because we are going to use some more models now.

In [38]:
predictions[0:10]

# First 10 predictions.

array([52.68472477, 54.34104169, 83.51996572, 63.43159749, 73.49196824,
       72.45500157, 69.13442748, 80.28479378, 60.64441362, 82.89562631])

In [39]:
from sklearn.metrics import mean_squared_error

In [41]:
print(mean_squared_error(y_test,predictions)**(0.5))

1.9191954844716705

In [42]:
from sklearn.metrics import r2_score

In [43]:
r2_score(y_test,predictions)

0.9574388705702108

The R2 score of the linear regression model is 95.7